# Build
.cache/
dist/
stats.html

# Dependencies
node_modules/

# Misc
.DS_STORE
CLAUDE.md

# NPM
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.yarn

# Webstorm
.idea/
*.iml

# Test artifacts
coverage/
